
.page_head{
	position: absolute;
	top: 60px;
	left: 10px;
}

.options{
	position: absolute;
	width: 300px;
	height: 350px;
	padding: 20px;
	left:50%;
	background-color: #0099FF;
	top: 150px;
	margin-left: -148px;
}

.options p {
	color: white;
	font-size:20px;
}

.navbar-default {
	color: #5a5a5a;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	text-transform: uppercase;
}

.navbar-right li{
	display: inline;
}

.navbar-brand {
	//background-image: url(http://r70.cooltext.com/rendered/cooltext117448786865004.png);
}

@media screen and (max-width: 700px) {

	.page_head {
		top:100px;
	}
	.options {
		top:200px;
	}
	
}
