/*body {
	background:#ffffff;
	margin:0;
	padding:0;
	border:0;
}
#header {
	width:9000px; 
	height:50px;
	margin:0;
	padding:0;
	border:0;
	background:#477DFC;
}
*/

.cardContainer {
    width:500px;
    height:50px;
    position:fixed;
    left: 700px;
    top: 150px;
}

.btn {
    background-image: url(Images/flipbutton.png);
}


.login:hover{
  background-image: url(Images/Login_Hover.png);
}
.signup:hover{
  background-image: url(Images/Signup_Hover.png);
}

#createSet{
	position:absolute;
	top:50px;
	left:600px;
}
#yourCards{
    margin-left: auto;
    margin-right: auto;
}
#newCard{

}
.title1 {
	width:500px;
	height:170px;
	position:absolute;
	top:190px;
    left:700px;
}
.content1{
	width:500px;
	height:170px;
	float:right;
	position:absolute;
	top:360px;
	left:700px;
}
.title2 {
	width:500px;
	height:170px;
	position:absolute;
	top:165px;
	right:100px;
}
.content2{
	width:500px;
	height:170px;
	float:right;
	position:absolute;
	top:360px;
	right:100px;
}
.MCButton{
	float:right;
	position:absolute;
	left:690px;
	top:550px;
}
.SAButton{
	float:right;
	position:absolute;
	left:810px;
	top:550px;
}
.proButton{
	float:right;
	position:absolute;
	left:920px;
	top:550px;
}
.saveButton{
	float:right;
	position:absolute;
	left:330px;
	top:540px;
}
/*
.allCards{
	background:#F5F24E;
	position:absolute;
	top:120px;
	left:50px;
	margin:50px;
	padding:10px;
	font:16px/26px Georgia, Garamond, Serif;
}
*/

.allCards{
	background:#F5F24E;
	position:fixed;
	top:120px;
	left:50px;
	margin:50px;
	padding:10px;
	border:1px solid #ccc;
	font:16px/26px Georgia, Garamond, Serif;
}
/*////////////////////////////////////////*/
.question{
    /*margin-top: 1%;
    margin-bottom: 1%;*/
}
.answers {
    width:30px;
    height:60px;
    position: relative;
/*    color: white;*/
}
#choice1 {
    width:500px;
    height:41px;
    background: transparent;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}

#choice1:hover{
    border-color: rgba(0,0,0,0.5);
}
#choice2 {
    width:500px;
    height:41px;
    background: transparent;
        font-size: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}
#choice2:hover{
    border-color: rgba(0,0,0,0.5);
}
#choice3 {
    width:500px;
    height:41px;
    background: transparent;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}
#choice3:hover{
    border-color: rgba(0,0,0,0.5);
}
#choice4 {
    width:500px;
    height:43px;
    background: transparent;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}
#choice4:hover{
    border-color: rgba(0,0,0,0.5);
}

.navBar h2 {
	display:inline-block; 
}

/* entire card, keeps perspective */
.flashcard {
    perspective: 1000;
    border: 0px solid;
}

/* flip the card when mouse over */
/*
.flashcard:hover .flipper, .flashcard.hover .flipper {
    transform: rotateY(180deg);
}
*/


.flashcard, .front, .back {
    width: 500px;
    height: 245px;
}

/* flip speed */
.flipper {
    transition: 0.3s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of card during flip */
.front, .back {
    text-align: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front, placed above back */
.front {
    z-index: 2;
    transform: rotateY(0deg);
    background-color: white;
}

/* back, initially hidden */
.back {
    transform: rotateY(180deg);
    /*background-color: #DBE9FF;*/
    background-color: white;
}

.flipButton {
    left:100px;
}
.test {
    left:100px;
}

@media screen and (max-width: 900px) {

    .title1 {
        position:absolute;
        left:140px;
        top:700px;
    }
    .content1 {
        position:absolute;
        top: 800px;
        left:140px;
    }
    .saveButton {
        top:540px;
        left:330px;
    }
    .title2 {
        top:1200px;
    }

    .content2 {
        top:1200px;
    }

    .MCButton {
        top:950px;
        left: 140px;
    } 
    .SAButton {
        top:950px;
        left: 275px;
    } 
    .proButton {
        top:950px;
        left:400px;
    }
    #newCard {
        top: 600px;
        left:210px;
    }
    
    
}
.done_button{
    position: absolute;
    top: 650px;
    left: 1100px;

}

.addcard_button{
    position: absolute;
    top: 550px;
    left: 1100px;
}
