.container{
    border-bottom: 1px solid gray;
    position:relative;
}
.question{
    font-size: 16px;
    font-weight: bold;
    position:relative;
}
.answer{
    color: #0000ff;
}
.cardContainer {
	position:absolute;
	top:150px;
	left:700px;
}
.allCards {
	position:absolute;
	left:10px;
	top:150px;
}
.cardsList{
	position:absolute;
	top:700px;
	left:10px
}
#card_set {
	background-color: #F5F24E;
	width:100%;
}
#pageTitle {
	position:absolute;
	top:100px;
	left:50px;
}

.question-area, .tag-area, .answer-area {
	background-color: #0099FF;
	padding-left:10px;
	padding-bottom: 10px;
	border-top: 7px solid black;
}

.question-area, .tag-area, .answer-area {
	border-left: 7px solid black;
	border-right: 7px solid black;
}
.answer-area {
	border-bottom: 7px solid black;
}