.set{
	position: absolute;
    overflow: auto;
	left: 360px;
	top: 55px;
}

.images {
    display: inline-block;
}

.topBar{
    position: fixed;
}
.nav-side {
    background-color: #eeeeee;
	height: 100%;
	position:fixed;
    top: 50px;
    text-align: center;
    overflow: hidden;
}

@media screen and (max-width: 900px) {
	
}
