/*Search bar appearance. Can modify for square vs round search bar*/
.rounded { 
	border-radius:0px; 
	-moz-border-radius:0px; 
	-webkit-border-radius:0px; 
}

/*Top header bar*/
.topBar {
	background-color:blue;
	position: absolute;
	height:3%;
	width:100%;
	top:0;
	left:0;
	color:white;
	font-family:"Arial", Courier, monospace;	
	padding-top:8x;
	padding-bottom:20px;
	display: inline;
    overflow: hidden;
}
/*Bar text align by choice*/
.alignL {
	float: left;	
    overflow: hidden;
}
.alignR {
	float: right;
    overflow: hidden;
}

/*Link appearance*/
.topBar a:link, .topBar a:visited { 
    color: white;
    text-decoration: none;
    cursor: auto;
    padding:10px;
}

body {
	background: yellow;
	font-family:"Arial", Courier, monospace;	

}

@media screen and (max-width: 700px) {

	.topBar {
		height:80px;
	}
	.alignR {
		float: left;
		display:inline;
	}
	
}