.card {
  background: #D3D3D3;
  width: 5in;
  height: 3in;
  display: inline-block;
}

.nav-arrow {
  display: inline-block;
  margin: 0 10px 0 10px;
}

.card-group {
  margin: 100px auto 0 auto;
  text-align: center;
}
